USE [SocalCodeCamp_CustomerOrderTracking]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerCurrentYearTotalPurchase]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
CREATE function [dbo].[GetCustomerCurrentYearTotalPurchase](@CustomerId int)
returns decimal(12,2)
as
begin
	declare @totalAmount decimal(12,2)
	SELECT @totalAmount = sum(TotalAmount) FROM [SocalCodeCamp_CustomerOrderTracking].[dbo].[Order]
		where CustomerId = @CustomerId and datepart(year,orderdate) = datepart(year,getdate())
	return @totalAmount
end



GO
/****** Object:  UserDefinedFunction [FunctionTests].[Fake_GetCustomerCurrentYearTotalPurchase]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [FunctionTests].[Fake_GetCustomerCurrentYearTotalPurchase](@CustomerId int)
returns decimal(12,2)
as
begin
	return 123456.789
end



GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](40) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[City] [nvarchar](40) NULL,
	[Country] [nvarchar](40) NULL,
	[Phone] [nvarchar](20) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerLog]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLog](
	[Id] [bigint] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CustomerLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL DEFAULT (getdate()),
	[OrderNumber] [nvarchar](10) NULL,
	[CustomerId] [int] NOT NULL,
	[TotalAmount] [decimal](12, 2) NULL DEFAULT ((0)),
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL DEFAULT ((0)),
	[Quantity] [int] NOT NULL DEFAULT ((1)),
 CONSTRAINT [PK_ORDERITEM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NULL DEFAULT ((0)),
	[Package] [nvarchar](30) NULL,
	[IsDiscontinued] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactTitle] [nvarchar](40) NULL,
	[City] [nvarchar](40) NULL,
	[Country] [nvarchar](40) NULL,
	[Phone] [nvarchar](30) NULL,
	[Fax] [nvarchar](30) NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[CustomerOrderReport]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[CustomerOrderReport]
as
	select c.Id as CustomerId,c.FirstName,c.LastName,dbo.GetCustomerCurrentYearTotalPurchase(c.Id) as CurrentYearTotalPurchase from dbo.customer c 




GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [City], [Country], [Phone]) VALUES (1, N'Maria', N'Anders', N'Berlin', N'Germany', N'030-0074321')
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [City], [Country], [Phone]) VALUES (2, N'Ana', N'Trujillo', N'México D.F.', N'Mexico', N'(5) 555-4729')
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [City], [Country], [Phone]) VALUES (3, N'Antonio', N'Moreno', N'México D.F.', N'Mexico', N'(5) 555-3932')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [OrderDate], [OrderNumber], [CustomerId], [TotalAmount]) VALUES (1, CAST(N'2015-07-07 00:00:00.000' AS DateTime), N'542378', 85, CAST(440.00 AS Decimal(12, 2)))
INSERT [dbo].[Order] ([Id], [OrderDate], [OrderNumber], [CustomerId], [TotalAmount]) VALUES (2, CAST(N'2015-07-08 00:00:00.000' AS DateTime), N'542379', 79, CAST(1863.40 AS Decimal(12, 2)))
INSERT [dbo].[Order] ([Id], [OrderDate], [OrderNumber], [CustomerId], [TotalAmount]) VALUES (3, CAST(N'2015-07-11 00:00:00.000' AS DateTime), N'542380', 34, CAST(1813.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (1, 1, 11, CAST(14.00 AS Decimal(12, 2)), 12)
INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (2, 1, 42, CAST(9.80 AS Decimal(12, 2)), 10)
INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (3, 1, 72, CAST(34.80 AS Decimal(12, 2)), 5)
GO
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [ProductName], [SupplierId], [UnitPrice], [Package], [IsDiscontinued]) VALUES (1, N'Chai', 1, CAST(18.00 AS Decimal(12, 2)), N'10 boxes x 20 bags', 0)
INSERT [dbo].[Product] ([Id], [ProductName], [SupplierId], [UnitPrice], [Package], [IsDiscontinued]) VALUES (2, N'Chang', 1, CAST(19.00 AS Decimal(12, 2)), N'24 - 12 oz bottles', 0)
INSERT [dbo].[Product] ([Id], [ProductName], [SupplierId], [UnitPrice], [Package], [IsDiscontinued]) VALUES (3, N'Aniseed Syrup', 1, CAST(10.00 AS Decimal(12, 2)), N'12 - 550 ml bottles', 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [CompanyName], [ContactName], [ContactTitle], [City], [Country], [Phone], [Fax]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', NULL, N'London', N'UK', N'(171) 555-2222', NULL)
INSERT [dbo].[Supplier] ([Id], [CompanyName], [ContactName], [ContactTitle], [City], [Country], [Phone], [Fax]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', NULL, N'New Orleans', N'USA', N'(100) 555-4822', NULL)
INSERT [dbo].[Supplier] ([Id], [CompanyName], [ContactName], [ContactTitle], [City], [Country], [Phone], [Fax]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', NULL, N'Ann Arbor', N'USA', N'(313) 555-5735', N'(313) 555-3349')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [Unique_First_Last_Phone]    Script Date: 12/3/2017 8:52:37 AM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [Unique_First_Last_Phone] UNIQUE NONCLUSTERED 
(
	[LastName] ASC,
	[FirstName] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerLog] ADD  CONSTRAINT [DF_CustomerLog_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[CustomerLog]  WITH CHECK ADD  CONSTRAINT [FK_CustomerLog_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerLog] CHECK CONSTRAINT [FK_CustomerLog_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITE_REFERENCE_ORDER] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_ORDERITE_REFERENCE_ORDER]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REFERENCE_SUPPLIER] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_REFERENCE_SUPPLIER]
GO
/****** Object:  StoredProcedure [dbo].[CreateLogRecord]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CreateLogRecord]( @customerid int,@description nvarchar(max))
as
 -- it does something
 return 0
GO
/****** Object:  StoredProcedure [dbo].[GetTotalOrderCost]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetTotalOrderCost]
  @orderNumber int , @totalCost decimal(12,2) OUTPUT
as
begin

	declare @customerCountry nvarchar(40)
	declare @orderCost decimal(12,2)
	declare @shippingRate decimal(12,2) = 0.00

	select @customerCountry = country from dbo.customer c
		inner join dbo.[Order] o on o.CustomerId = c.Id
		where o.OrderNumber = @orderNumber
	select @orderCost = TotalAmount from dbo.[Order] where OrderNumber = @orderNumber

	if(@customerCountry <> 'USA' and @customerCountry <> 'Canada')
	begin
	  declare @description nvarchar(200) = 'Getting total order cost for ' + cast(@orderNumber as nvarchar)
	  exec dbo.CreateLogRecord 123454, @description
	end
	set @totalCost = @orderCost + @shippingRate
end
GO
/****** Object:  StoredProcedure [FunctionTests].[test function fake return value]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [FunctionTests].[test function fake return value]
as
begin
	EXEC tSQLt.FakeTable 'dbo.Order'
	EXEC tSQLt.FakeTable 'dbo.Customer'
	EXEC tSQLt.FakeFunction 'dbo.GetCustomerCurrentYearTotalPurchase','FunctionTests.Fake_GetCustomerCurrentYearTotalPurchase'
	Insert into dbo.Customer (Id,FirstName,LastName) values (1,'John','Margo')
	Insert into dbo.[Order] (OrderDate,CustomerId,TotalAmount) values ('2/23/2017',1,5.00)
	
	select * into FunctionTests.actual from dbo.CustomerOrderReport
	select top(0) * into FunctionTests.expected from dbo.CustomerOrderReport
	insert into FunctionTests.expected (CustomerId,FirstName,LastName,CurrentYearTotalPurchase)
		values(1,'John','Margo',123456.789)

	EXEC tSQLt.AssertEqualsTable 'FunctionTests.expected', 'FunctionTests.actual', 'Report did not return expected data'

end
GO
/****** Object:  StoredProcedure [FunctionTests].[test function return value]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [FunctionTests].[test function return value]
as
begin
	EXEC tSQLt.FakeTable 'dbo.Order'
	
	Insert into dbo.[Order] (OrderDate,CustomerId,TotalAmount) values ('2/23/2017',63,5.00)
	
	declare @expected decimal(12,2) = 100.42
	declare @totalOrder decimal(12,2)
	select @totalOrder = dbo.GetCustomerCurrentYearTotalPurchase(63)


	EXEC tSQLt.AssertEquals @expected, @totalOrder, 'Function failed to get correct total'

end
GO
/****** Object:  StoredProcedure [StoredProcedureTests].[test stored procedure spy]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec tsqlt.NewTestClass 'StoredProcedureTests'

CREATE procedure [StoredProcedureTests].[test stored procedure spy]
as
begin

	EXEC tsqlt.SpyProcedure 'dbo.CreateLogRecord'

	EXEC tSQLt.FakeTable 'dbo.Customer'
	EXEC tSQLt.FakeTable 'dbo.Order'
	Insert into dbo.Customer (Id,FirstName,LastName,Country) values (1,'John','Margo','Germany')
	Insert into dbo.[Order] (OrderNumber,OrderDate,CustomerId,TotalAmount) values (400,'2/23/2017',1,350.00)

	declare @orderTotal decimal(12,2)
	EXEC dbo.GetTotalOrderCost 400, @totalCost = @orderTotal OUTPUT
	
	IF NOT EXISTS(select 1 from dbo.CreateLogRecord_SpyProcedureLog)
	begin
		Exec tsqlt.Fail 'CreateSomeRecord was not called'
	end
end

--exec tsqlt.runall
GO
/****** Object:  StoredProcedure [TableTests].[test table metadata]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [TableTests].[test table metadata]
as
begin

	CREATE TABLE TableTests.Expected(
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[OrderId] [int] NOT NULL,
		[ProductId] [int] NOT NULL,
		[UnitPrice] [decimal](12, 2) NOT NULL DEFAULT ((0)),
		[Quantity] [int] NOT NULL DEFAULT ((1)),
	 CONSTRAINT [PK_ORDERITEM] PRIMARY KEY CLUSTERED 
	(
		[Id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

	,CONSTRAINT [FK_ORDERITE_REFERENCE_ORDER] FOREIGN KEY([OrderId])
	REFERENCES [dbo].[Order] ([Id])
	,CONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT] FOREIGN KEY([ProductId])
	REFERENCES [dbo].[Product] ([Id])

	) ON [PRIMARY]


	EXEC tSQLt.AssertResultSetsHaveSameMetaData
	 @expectedCommand = N'Select * from TableTests.Expected',
	 @actualCommand = N'Select * from dbo.OrderItem';
end
GO
/****** Object:  StoredProcedure [TableTests].[test trigger]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [TableTests].[test trigger]
as
begin
	EXEC tSQLt.FakeTable 'dbo.Customer'
	EXEC tSQLt.FakeTable 'dbo.CustomerLog'
	EXEC tSQLt.ApplyTrigger 'dbo.Customer','LogCustomer'
	
	Insert into dbo.Customer (FirstName,LastName,Country)
		Values('Henry','James','US')
	
	Select CustomerId into #actual from dbo.CustomerLog
	Select Id as CustomerId into #expected from dbo.Customer 

	EXEC tSQLt.AssertEqualsTable '#expected','#actual','Trigger failed to log customer'

end


GO
/****** Object:  StoredProcedure [TableTests].[test unique constraint]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [TableTests].[test unique constraint]
as
begin
	DECLARE @ErrorMessage NVARCHAR(MAX) = '';
	EXEC tSQLt.FakeTable 'dbo.Customer';
	EXEC tSQLt.ApplyConstraint 'dbo.Customer','Unique_First_Last_Phone';

	BEGIN TRY
		insert into dbo.Customer (FirstName,LastName,Phone) values ('John','Doe','123456789');
		insert into dbo.Customer (FirstName,LastName,Phone) values ('John','Doe','123456789');
	END TRY
	BEGIN CATCH
		SET @ErrorMessage = ERROR_MESSAGE()
	END CATCH

	IF(@ErrorMessage = '')
	BEGIN
		EXEC tSQLt.Fail 'Constraint violation expected when inserting duplicate record'
	END
end
GO
/****** Object:  StoredProcedure [TableTests].[xtest trigger_demonstrate_faking_views]    Script Date: 12/3/2017 8:52:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [TableTests].[xtest trigger_demonstrate_faking_views]
as
begin
	--EXEC tSQLt.FakeTable 'dbo.Customer'
	--EXEC tSQLt.FakeTable 'dbo.CustomerLog'
	--EXEC tSQLt.ApplyTrigger 'dbo.Customer','LogCustomer'
	
	-- Not used in test, for demonstration purposes only -------
	EXEC tsqlt.FakeTable 'dbo.GetCustomerCurrentYearTotalPurchase'
	Exec('Insert into dbo.GetCustomerCurrentYearTotalPurchase (CustomerId,FirstName,LastName,CurrentTotalYearPurchase)
	  values (1,''John'',''Cornish'',2232.90)')
	--------------------------------------------------------------

	--Insert into dbo.Customer (FirstName,LastName,Country)
	--	Values('Henry','James','US')
	
	


	--Select CustomerId into #actual from dbo.CustomerLog
	--Select Id as CustomerId into #expected from dbo.Customer 

	--EXEC tSQLt.AssertEqualsTable '#expected','#actual','Trigger failed to log customer'

end





GO
